<div class='row'>
  <div class='col-xl-5 offset-xl-1' style='margin-bottom: 20px;'>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <h2 class='title text-center'>Last Week Growth</h2>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table class='table table-borderless'>
            <thead>
              <tr>
                <th scope='col' style='width: 35%;'>Ranking</th>
                <th scope='col' style='width: 35%;'>Name</th>
                <th scope='col' style='width: 10%;'>Growth</th>
              </tr>
            </thead>
            <tbody>
              <% @top_15_week_growth_guilds.each_with_index do |guild, index| %>
              <tr>
                <th scope='row'>#<%= index + 1 %></th>
                <td><%= link_to "+#{guild.name}", guild_path(guild.name) %></td>
                <% if guild.week_growth.positive? %>
                <td><span class='badge badge-success'>+<%= number_with_delimiter guild.week_growth %></span></td>
                <% elsif guild.week_growth.zero? %>
                <td><span class='badge badge-secondary'>0</span></td>
                <% else %>
                <td><span class='badge badge-danger'>-<%= number_with_delimiter guild.week_growth %></span></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='col-xl-5'>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <h2 class='title text-center'>Last Month Growth</h2>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table class='table table-borderless'>
            <thead>
              <tr>
                <th scope='col' style='width: 35%;'>Ranking</th>
                <th scope='col' style='width: 35%;'>Name</th>
                <th scope='col' style='width: 10%;'>Growth</th>
              </tr>
            </thead>
            <tbody>
              <% @top_15_month_growth_guilds.each_with_index do |guild, index| %>
              <tr>
                <th>#<%= index + 1 %></th>
                <td><%= link_to "+#{guild.name}", guild_path(guild.name) %></td>
                <% if guild.month_growth.positive? %>
                <td><span class='badge badge-success'>+<%= number_with_delimiter guild.month_growth %></span></td>
                <% elsif guild.month_growth.zero? %>
                <td><span class='badge badge-secondary'>0</span></td>
                <% else %>
                <td><span class='badge badge-danger'>-<%= number_with_delimiter guild.month_growth %></span></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
