<div class='row'>
  <div class='col-xl-5 offset-xl-1' style='margin-bottom: 20px;'>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <h3 class='title text-center'>Last Week Growth</h3>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table class='table table-borderless'>
            <thead>
              <tr>
                <th scope='col' style='width: 15%;'>Ranking</th>
                <th scope='col' style='width: 65%;'>Name</th>
                <th scope='col' style='width: 20%;'>Growth</th>
              </tr>
            </thead>
            <tbody>
              <% @top_15_week_growth_guilds.each_with_index do |guild, index| %>
              <tr>
                <th scope='row'>#<%= index + 1 %></th>
                <td><%= display_guild_logo(guild, 20) %> <%= link_to "+#{guild.name}", guild_path(guild.name) %></td>
                <td><%= display_number(guild.week_growth) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='col-xl-5'>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <h3 class='title text-center'>Last Month Growth</h3>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table class='table table-borderless'>
            <thead>
              <tr>
                <th scope='col' style='width: 15%;'>Ranking</th>
                <th scope='col' style='width: 65%;'>Name</th>
                <th scope='col' style='width: 20%;'>Growth</th>
              </tr>
            </thead>
            <tbody>
              <% @top_15_month_growth_guilds.each_with_index do |guild, index| %>
              <tr>
                <th>#<%= index + 1 %></th>
                <td><%= display_guild_logo(guild, 20) %> <%= link_to "+#{guild.name}", guild_path(guild.name) %></td>
                <td><%= display_number(guild.month_growth) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
