<% title 'Add Missing Guilds' %>
<% meta_tag :description, 'Add any missing Guilds that you may find in Ruqqus, but not in RuqqusMetrics.' %>
<% meta_tag :keywords, %w[ruqqus add missing guilds ruqqus find guilds ruqqusmetrics].join(',') %>

<div class='row'>
  <div class='col-xl-8 offset-xl-2'>
    <% if flash[:notice] %>
    <div class='alert alert-info'>
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class='alert alert-danger'>
      <%= flash[:alert] %>
    </div>
    <% end %>
    <div class='table-responsive'>
      <div class='card shadow-sm'>
        <div class='card-header'>
          <h3 class='title text-center'>Add a Missing Guild</h3>
        </div>
        <div class='card-body text-center'>
          <p>In some edge cases the entry of Guilds may fail, for those cases you can use this form and enter a Guild manually.</p>
          <p>If you entered a Guild called xyz and you want to see if it was actually inserted in the database, visit <a href='https://ruqqus-metrics.com/guilds/xyz'>ruqqus-metrics.com/guilds/xyz</a>, if you don't see any error it means it was added to the database and we will start importing its statistics eventually.</p>
          <div class='col-xl-6 offset-xl-3'>
            <%= form_with url: guilds_path, method: :post, local: true do |form| %>
            <div class='form-group'>
              <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %>
            </div>
            <div style='margin: 0px 10px 10px 0px; transform: scale(0.8); transform-origin: 0 0;'>
              <%= recaptcha_tags %>
            </div>
            <%= submit_tag 'Submit', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
