<div class='row'>
  <div class='col-xl-8 offset-xl-2'>
    <% if flash[:notice] %>
    <div class='alert alert-info'>
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class='alert alert-danger'>
      <%= flash[:alert] %>
    </div>
    <% end %>
    <div class='table-responsive'>
      <div class='card shadow-sm'>
        <div class='card-header'>
          <h3 class='title text-center'>Add a Missing Guild</h3>
        </div>
        <div class='card-body text-center'>
          <p>The entry of new Guilds is done by a web scraper form, which runs automatically and periodically. The problem is that this scraper does not detect NSFW Guilds, you can verify that they don't appear in <a href='https://ruqqus.com/browse'>this link</a> if you sign out. Besides Guilds that are removed very quickly may not be entered either. That's why I created this view so you can add Guilds that do not appear here.</p>
          <div class='col-xl-6 offset-xl-3'>
            <%= form_with url: guilds_path, method: :post, local: true do |form| %>
            <div class='form-group'>
              <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %>
            </div>
            <div style='margin: 0px 10px 10px 0px;'>
              <%= recaptcha_tags %>
            </div>
            <%= submit_tag 'Submit', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
