<div class='row'>
  <div class='col-xl-2 d-none d-lg-block' style='margin-bottom: 20px;'>
    <% if @daily_average_growth %>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <h3 class='title text-center'>Statistics</h3>
      </div>
      <div class='card-body'>
        <ul>
          <li>Daily growth: <%= display_number(@daily_average_growth) %></li>
        </ul>
        <br />
      </div>
    </div>
    <% end %>
  </div>
  <div class='col-xl-7'>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <% if @guild.data %>
        <h3 class='title text-center'><%= display_guild_logo(@guild) %> <%= link_to "+#{@guild.name}", "https://ruqqus.com/+#{@guild.name}", target: '_blank' %></h3>
        <% else %>
        <h3 class='title text-center'><i class='fas fa-users'></i> <%= link_to "+#{@guild.name}", "https://ruqqus.com/+#{@guild.name}", target: '_blank' %></h3>
        <% end %>
      </div>
      <div class='card-body'>
        <div class='d-none d-lg-block'>
        <%= line_chart @data_series, { min: nil, height: '225px', thousands: ',' } if (@guild_histories.count > 2) && !@guild.data['is_banned'] %>
        </div>
        <br />
        <div class='table-responsive'>
          <% if @guild_histories.size.positive? %>
          <table class='table table-borderless'>
            <thead>
              <tr>
                <th scope='col' style='width: 15%;'>Ranking</th>
                <th scope='col' style='width: 15%;'>Subscribers</th>
                <th scope='col' style='width: 10%;'>Mods</th>
                <th scope='col' style='width: 10%;'>Banned</th>
                <th scope='col' style='width: 10%;'>Over 18</th>
                <th scope='col' style='width: 10%;'>Private</th>
                <th scope='col' style='width: 10%;'>Restricted</th>
                <th scope='col' style='width: 20%;'>Imported</th>
              </tr>
            </thead>
            <tbody>
              <% @guild_histories.each do |guild_history| %>
              <tr>
                <th scope='row'><%= "##{number_with_delimiter guild_history.rank}" %></td>
                <td><%= number_with_delimiter guild_history.subscribers_count %></td>
                <td><%= number_with_delimiter guild_history.mods_count %></td>
                <td><%= display_boolean guild_history.data['is_banned'] %></td>
                <td><%= display_boolean guild_history.data['over_18'] %></td>
                <td><%= display_boolean guild_history.data['is_private'] %></td>
                <td><%= display_boolean guild_history.data['is_restricted'] %></td>
                <td><%= distance_of_time_in_words(DateTime.now, guild_history.created_at) %> ago</td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
          <p class='text-center'>No data yet.</p>
          <% end %>
        </div>
      </div>
    </div>
    <br />
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <div class='col-xl-3'>
    <div class='card shadow-sm'>
      <div class='card-header'>
        <h3 class='title text-center'>Description</h3>
      </div>
      <div class='card-body' style='max-height: 300px; overflow: auto;'>
        <% if @guild.data %>
        <%= Kramdown::Document.new(@guild.data['description']).to_html.html_safe %>
        <% else %>
        <p class='text-center'>No data yet.</p>
        <% end %>
      </div>
  </div>
</div>
