<!DOCTYPE html>
<html>
  <head>
    <title>RuqqusMetrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

    <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73025506-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-73025506-3');

      document.addEventListener('turbolinks:load', event => {
          if (typeof(ga) === 'function') {
            ga('set', 'location', event.data.url)
            ga('send', 'pageview')
        }
      });
    </script>
    <% end %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light shadow-sm'>
      <%= link_to image_tag('logo.png', width: 30, height: 30), root_path %>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav border-right'>
          <a class='nav-item nav-link <%= 'active' if root_path.eql? request.env['PATH_INFO'] %>' href='/'>Guild Ranking <i class='fas fa-globe'></i></i></a>
        </div>
        <div class='navbar-nav border-right'>
          <a class='nav-item nav-link <%= 'active' if growth_path.eql? request.env['PATH_INFO'] %>' href='/growth'>Guild Growth <i class='fas fa-chart-line'></i></a>
        </div>
        <div class='navbar-nav border-right'>
          <a class='nav-item nav-link <%= 'active' if new_guild_path.eql? request.env['PATH_INFO'] %>' href='/guilds/new'>Add Missing Guilds <i class='fas fa-plus-square'></i></a>
        </div>
        <div class='navbar-nav ml-auto border-left'>
          <a class='nav-item nav-link <%= 'active' if about_path.eql? request.env['PATH_INFO'] %>' href='/about'>About <i class='fas fa-info-circle'></i></a>
        </div>
      </div>
    </nav>

    <div style='padding: 25px;'>
      <%= yield %>
    </div>
  </body>
</html>
