<!DOCTYPE html>
<html>
  <head>
    <title>RuqqusMetrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <%= link_to image_tag('logo.png', width: 30, height: 30), root_path %>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav'>
          <a class='nav-item nav-link <%= 'active' if root_path.eql? request.env['PATH_INFO'] %>' href='/'>Guild Ranking</a>
        </div>
        <div class='navbar-nav ml-auto'>
          <a class='nav-item nav-link <%= 'active' if root_path.eql? request.env['PATH_INFO'] %>' href='/about'>About</a>
        </div>
      </div>
    </nav>

    <div style='padding: 50px;'>
      <%= yield %>
    </div>
  </body>
</html>
